<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>dbname</param-name>
        <param-value>xyz_assoc</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>web.AddMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendMember</servlet-name>
        <servlet-class>web.SuspendMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeClaim</servlet-name>
        <servlet-class>web.MakeClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>web.CheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/AddMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendMember</servlet-name>
        <url-pattern>/SuspendMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeClaim</servlet-name>
        <url-pattern>/MakeClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
